<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./"><img src="noun_35238_cc.svg" height=64 width=64 style="vertical-align:middle">&nbsp;{{ site.tag_text }}</a></h1>
    <h3 class="warning">This project now lives at<br /> <a href="http://gusevlab.org/projects/fusion/">http://gusevlab.org/projects/fusion/</a><br />The rest of this page is for completeness only and is no longer updated.</h3>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
